{{define "email_change"}}
{{template "layout" .}}
{{end}}
{{define "body"}}
<p style="margin:0 0 16px;color:#262626;">Confirm your new {{.AppName}} email address (<strong style="font-weight:600;color:#262626;">{{.NewEmail}}</strong>) by clicking the button below.</p>
{{end}}
