<!DOCTYPE html>
<html lang="en">
  <body>
    <p>You have been invited to join Release Ops.</p>
    <p><a href="{{ .ActionURL }}">Accept your invitation</a></p>
    <p>If you did not expect this invitation, you can ignore this email.</p>
  </body>
</html>
